<a href="https://colab.research.google.com/github/Syaroful/Sistem-Pendukung-Keputusan-Semester5/blob/main/Week2/praktikum_minggu2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from tabulate import tabulate

# Input data dengan key 'Apartment'
data = {
    'Apartment': ['A1', 'A2', 'A3'],
    'Fasilitas_Umum': [2, 4, 3],
    'Harga': [7000000, 10000000, 8500000],
    'Tahun_Konstruksi': [2012, 2015, 2010],
    'Jarak_Kerja': [7, 2, 4],
    'Keamanan': [3, 3, 4]
}

for i in range(len(data['Harga'])):
  if (data['Harga'][i] >= 10000000):
    data['Harga'][i] = 1
  elif (data['Harga'][i] >= 5000000 and data['Harga'][i] < 10000000):
    data['Harga'][i] = 2
  else:
    data['Harga'][i] = 3

for i in range(len(data['Tahun_Konstruksi'])):
  if (data['Tahun_Konstruksi'][i] >= 2015):
    data['Tahun_Konstruksi'][i] = 3
  elif (data['Tahun_Konstruksi'][i] < 2015 and data['Tahun_Konstruksi'][i] >= 2010):
    data['Tahun_Konstruksi'][i] = 2
  else:
    data['Tahun_Konstruksi'][i] = 1

for i in range(len(data['Jarak_Kerja'])):
  if (data['Jarak_Kerja'][i] >= 10):
    data['Jarak_Kerja'][i] = 1
  elif (data['Jarak_Kerja'][i] < 10 and data['Jarak_Kerja'][i] >= 5):
    data['Jarak_Kerja'][i] = 2
  else:
    data['Jarak_Kerja'][i] = 3

# Masukkan data ke dalam DataFrame
df = pd.DataFrame(data)
table = tabulate(df, headers='keys', tablefmt='grid')

print('Data setelah di nilai nya dikonversi')
print(table)

# Normalisasi data (untuk kriteria benefit)
criteria = ['Fasilitas_Umum', 'Harga','Tahun_Konstruksi','Jarak_Kerja', 'Keamanan']
for criterion in criteria:
    df[criterion] = df[criterion] / df[criterion].max()

print("Data setelah di normalisasi:")
table = tabulate(df, headers='keys', tablefmt='grid')
print(table)
# Bobot kriteria
weights = {
    'Fasilitas_Umum': 0.3,
    'Harga': 0.2,
    'Tahun_Konstruksi': 0.2,
    'Jarak_Kerja': 0.2,
    'Keamanan': 0.1
}

# Hitung nilai akhir dengan metode WPM
df['Nilai_Akhir'] = (df[criteria] ** weights).prod(axis=1)

# Pilih apartemen dengan nilai akhir tertinggi
apartemen_terbaik = df.loc[df['Nilai_Akhir'].idxmax()]

print("Hasil Pemilihan Lokasi Apartemen Terbaik:")
print(df['Nilai_Akhir'])
print(apartemen_terbaik[['Apartment', 'Nilai_Akhir']])

Data setelah di nilai nya dikonversi
+----+-------------+------------------+---------+--------------------+---------------+------------+
|    | Apartment   |   Fasilitas_Umum |   Harga |   Tahun_Konstruksi |   Jarak_Kerja |   Keamanan |
+====+=============+==================+=========+====================+===============+============+
|  0 | A1          |                2 |       2 |                  2 |             2 |          3 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  1 | A2          |                4 |       1 |                  3 |             3 |          3 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  2 | A3          |                3 |       2 |                  2 |             3 |          4 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
Data setelah di normalisasi:
+----+-------------+------------------+---------+--------------------+---------------+------------+
|    | Apartment   |   Fasilitas_Umum |   Harga |   Tahun_Konstruksi |   Jarak_Kerja |   Keamanan |
+====+=============+==================+=========+====================+===============+============+
|  0 | A1          |             0.5  |     1   |           0.666667 |      0.666667 |       0.75 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  1 | A2          |             1    |     0.5 |           1        |      1        |       0.75 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  2 | A3          |             0.75 |     1   |           0.666667 |      1        |       1    |
+----+-------------+------------------+---------+--------------------+---------------+------------+
Hasil Pemilihan Lokasi Apartemen Terbaik:
0    0.671059
1    0.845863
2    0.845863
Name: Nilai_Akhir, dtype: float64
Apartment            A2
Nilai_Akhir    0.845863
Name: 1, dtype: object

In [14]:
import pandas as pd
from tabulate import tabulate

# Input data dengan key 'Apartment'
data = {
    'Apartment': ['A1', 'A2', 'A3'],
    'Fasilitas_Umum': [2, 4, 3],
    'Harga': [7000000, 10000000, 8500000],
    'Tahun_Konstruksi': [2012, 2015, 2010],
    'Jarak_Kerja': [7, 2, 4],
    'Keamanan': [3, 3, 4]
}

for i in range(len(data['Harga'])):
  if (data['Harga'][i] >= 10000000):
    data['Harga'][i] = 1
  elif (data['Harga'][i] >= 5000000 and data['Harga'][i] < 10000000):
    data['Harga'][i] = 2
  else:
    data['Harga'][i] = 3

for i in range(len(data['Tahun_Konstruksi'])):
  if (data['Tahun_Konstruksi'][i] >= 2015):
    data['Tahun_Konstruksi'][i] = 3
  elif (data['Tahun_Konstruksi'][i] < 2015 and data['Tahun_Konstruksi'][i] >= 2010):
    data['Tahun_Konstruksi'][i] = 2
  else:
    data['Tahun_Konstruksi'][i] = 1

for i in range(len(data['Jarak_Kerja'])):
  if (data['Jarak_Kerja'][i] >= 10):
    data['Jarak_Kerja'][i] = 1
  elif (data['Jarak_Kerja'][i] < 10 and data['Jarak_Kerja'][i] >= 5):
    data['Jarak_Kerja'][i] = 2
  else:
    data['Jarak_Kerja'][i] = 3

df = pd.DataFrame(data)
table = tabulate(df, headers='keys', tablefmt='grid')
print('Data setelah di nilai nya dikonversi')
print(table)

criteria = ['Fasilitas_Umum', 'Harga','Tahun_Konstruksi','Jarak_Kerja', 'Keamanan']
for criterion in criteria:
    df[criterion] = df[criterion] / df[criterion].max()

print("Data setelah di normalisasi:")
table = tabulate(df, headers='keys', tablefmt='grid')
print(table)
# Bobot untuk masing-masing kriteria
weights = {
    'Fasilitas_Umum': 0.3,
    'Harga': 0.2,
    'Tahun_Konstruksi': 0.2,
    'Jarak_Kerja': 0.2,
    'Keamanan': 0.1
}

# Normalisasi data (untuk kriteria benefit)


# Menghitung skor weighted sum
df['Nilai_Akhir'] = 0
for criterion, weight in weights.items():
    df['Nilai_Akhir'] += df[criterion] * weight

# Menentukan alternatif terbaik
apartemen_terbaik = df.loc[df['Nilai_Akhir'].idxmax()]

print("Hasil Pemilihan Lokasi Apartemen Terbaik:")
print(df['Nilai_Akhir'])
print(apartemen_terbaik[['Apartment', 'Nilai_Akhir']])

Data setelah di nilai nya dikonversi
+----+-------------+------------------+---------+--------------------+---------------+------------+
|    | Apartment   |   Fasilitas_Umum |   Harga |   Tahun_Konstruksi |   Jarak_Kerja |   Keamanan |
+====+=============+==================+=========+====================+===============+============+
|  0 | A1          |                2 |       2 |                  2 |             2 |          3 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  1 | A2          |                4 |       1 |                  3 |             3 |          3 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  2 | A3          |                3 |       2 |                  2 |             3 |          4 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
Data setelah di normalisasi:
+----+-------------+------------------+---------+--------------------+---------------+------------+
|    | Apartment   |   Fasilitas_Umum |   Harga |   Tahun_Konstruksi |   Jarak_Kerja |   Keamanan |
+====+=============+==================+=========+====================+===============+============+
|  0 | A1          |             0.5  |     1   |           0.666667 |      0.666667 |       0.75 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  1 | A2          |             1    |     0.5 |           1        |      1        |       0.75 |
+----+-------------+------------------+---------+--------------------+---------------+------------+
|  2 | A3          |             0.75 |     1   |           0.666667 |      1        |       1    |
+----+-------------+------------------+---------+--------------------+---------------+------------+
Hasil Pemilihan Lokasi Apartemen Terbaik:
0    0.691667
1    0.875000
2    0.858333
Name: Nilai_Akhir, dtype: float64
Apartment         A2
Nilai_Akhir    0.875
Name: 1, dtype: object